html body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em;
  font-family: 'Satisfy', cursive;
}
.slider {
  max-width: 80%;
  text-align: center;

}

.container {
  max-width: 100%;
  background-color: grey;
}

.jumbotron {
  font-family: 'Satisfy', cursive;
  margin-top: 1%;
  text-align: center;

}

.blurb {
  text-align: justify;
  font-size: 20px;
  margin-left: 2%;
  margin-right: 2%;
}

@media screen and (max-width: 600px){
  #info-1{
    color: rgb(0, 0, 0);
    padding: 1em;
  }
  #info-2, #info-3{
    color: rgb(203, 207, 206);
    padding: 1em;
  }
  .info-3{
    color: rgb(203, 207, 206);
  }
}

@media screen and (min-width: 768px){
  #info-1, #info-2, #info-3{
    color: rgb(203, 207, 206);
    padding: 1em;
  }
}

.invert {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.img-thumbnail{
  background-color: inherit;
  border: none;
  margin: 0 auto;
  padding: 0;
}

.non{
  display: none;
}
/*#card-img td {
  top: 0;
  max-width: 230px;
  height: 100%
}*/
