/* stylesheet WizKit */
:root {
  --gradient: linear-gradient(to right,
      #9b70c6 2%,
      #8bfbf5 49%,
      #a0faa6 71%,
      #f1fa94 100%);
}

body {
  margin: 0;
  padding: 0;
  margin-top: -1.4em;
  background-color: var(--background-color);
}

header {
  padding: 10px;
  margin-top: 0;
  background-color: #221fa3;
  min-height: 200px;
  color: #fff;
  text-align: center
}

/* container & content styles */
* {
  box-sizing: border-box;
}
.row {
  margin: 0;
}

.portrow{
  padding-bottom: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .invite {margin-bottom: 50px;}
}

/* navigation*/
.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #1e176e;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

.mySlides {
  display: none
}

/* type scripts */
.write{
  display: inline-block;
  max-width: 320px;
}

@keyframes blink {
  0% {
    opacity: 0;
    background-color: #9b70c6;
  }

  50% {
    opacity: 1;
    background-color: #8bfbf5;
  }

  100% {
    opacity: 0;
    background-color: #9b70c6;
  }
}

@media screen and (max-width:600px) {
  .typing{
    font-family: monospace;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    position: relative;
    padding: 10px;
  }
}

.typing {
  font-family: monospace;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  position: relative;
}

.typing::after {
  content: "";
  position: absolute;
  height: 90%;
  width: 2px;
  background-color: #3e3f4e;
  color: black;
  padding: 1px;
  left: 100%;
  animation: blink 700ms infinite ease;
}

/* title and picture */
#wiz {
  padding-top:25px;
  position: relative;
  height: 200px;
  max-height: 50%;
}

.intro, .title-why, .title-porto {
  text-align: center;
  padding:20px;
}
.title{
  display: flex;
  text-align: center;
  padding:50px;
  padding-bottom:0;
}

.title1{
  display: block;
  text-align: center;
}

.hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
}

.link {
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 3em;
  margin-left: auto;
  margin-right: auto;
  min-height: 50px;
  width: 250px;
  border-radius: 120px;
  background-color: #221fa3;
  color: #fff;
}

button:active {
  background-color: red;
  color: white;
  border-radius: 8px;
  box-shadow: inset 2px 2px 5px blue;
}

.date{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

button.link {
  color: #fff;
  text-decoration: none;
}

.why{
  background-color: #d7d7d9;
  color: #04597d;
}

@media screen and (max-width: 600px) {
  .why p{
    max-height: 60px;
    min-height: 40px;
    padding:0px;
  }
  .title-why{
    margin: 0;
    padding: 0;
  }
}

.why p {
  padding: 20px;
  text-align: center;
  height:100%;
  min-height: 230px;
  margin: 0;
}

.img-why{
  display: block;
  width: 80px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.info{
  padding:20px;
}
.index{
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

ol{
  max-width: 500px;
  display: table;
  margin: 0;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

.porto {
  padding: 10px;
  margin-top: -20px;
  background-color: #000000;
  color: #fff;
}

.education {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.invite{
  min-height: 200px;
  margin-bottom: -10px;
  padding-top: 5px;
  background-color: #000000;
  color: #fff;
}

#invite {
  Text-align: center;
  font-size: 20px;
}

.img-responsive {
  display: block;
  text-align: center;
  width: 100%;
  max-width: 800px;
  height: auto;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.platform{
  list-style: none;
  text-align: center;
  padding: 0;
}

.schrift{
  display: block;
  text-align: center;
}

.logo-title{
  text-align: center;
  display: block;
  font-size: 24px;
}

.logo-design{
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}






#scr {
  padding-top: 30px;
  text-align: center;
  color: #41ff00;
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 30px;
  letter-spacing: 6px;
}

.ani {
  margin-top: 0px;
  padding-left: 50px;
  padding-right: 50px;
  min-width: 100%;
  min-height: 150px;
  background-color: #000000;
}

@media screen and (max-width:600px) {
  #design{
    max-height: 100px;
  }
  }

#design {
  background-color: #000000;
  min-height: 200px;
  text-align: center;
  margin-top: 0;
  padding-top: 20px;
}

.banner{
  width: 100%;
  max-height: 320px;
}

.it_service{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding: 20px;
}
/* contact */
.contact {
  display: block;
  max-width:600px;
  margin-left: auto;
  margin-right: auto;
}

button {
  width: 250px;
}

input[type="text"], input[type="email"], input[type="tel"], textarea, select{
  display: block;
  margin: 10px 0px;
  min-width: 100%;
  max-width: 400px;
  box-shadow: inset 2px 2px 5px grey;
}

textarea {
  height: 200px;
  padding: 5px 4px;
  box-shadow: inset 2px 2px 5px grey;
}

/* footer */
.footer {
  min-height: 200px;
  background-color: #221fa3;
  color: #fff;
}

.f-box {
  text-align: center;
  padding: 20px;
}

.f-link{
  color: #fff;
  text-decoration: none;
}

.f-link:hover{
  color: black;
}

iframe{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 130px;
  border: none;
  overflow: hidden;
}

.whatsapp-icon{
  width: 80px;
  height: 95px;
}

.mail-icon{
  width: 95px;
  height: 95px;
}

.copy {
  padding: 10px;
  margin-top: -20px;
  background-color: #221fa3;
  color: #fff;
  text-align: center;
}
